
* {
    margin:     0;
    padding:    0;
    box-sizing: border-box;
}

:root {
    --color-for-1:   #ffff00;
    --color-for-2:   #ffbb00;
    --color-for-4:   #ff9900;
    --color-for-8:   #ff7700;
    --color-for-16:  #ff5500;
    --color-for-32:  #ff4400;
    --color-for-64:  #f00f00;
    --color-for-128: #b00f00;
    --color-for-256: #900f00;
    --color-for-512: #700f00;
    --color-for-1024:#600f00;
    --color-for-2048: linear-gradient(to right, #ffff00 , #500f00 90%);
}

html {
    font-family:        monospace;
    background-color: black;
    color:            white;
    display:            flex;
    justify-content:    center;
}

h1 {
    font-size: 4rem;
    margin:    2rem;
}

main div {
    display: grid;
    grid-template: repeat(5, auto) / repeat(5, auto);
}

main div:nth-child(5n + 2) {
    grid-column: 2;
}
main div:nth-child(5n + 3) {
    grid-column: 3;
}
main div:nth-child(5n + 4) {
    grid-column: 4;
}
main div:nth-child(5n) {
    grid-column: 5;
}

main div div {
    border:          .5rem solid white;
    border-radius:   10%;
    margin:          .5rem;
    padding:         3rem;
    font-size:       3em;
    width:           10rem;
    height:          10rem;
    justify-content: center;
}

footer {
    margin: 2em;
}
